* {
  box-sizing: border-box;
}
/* Base Styles -------------------- */
body {
  padding: 0;
  margin:0;
  font-family: 'Poppins', sans-serif;
  color: #353c46;
  background: #e5e7e9;
}
a {
  text-decoration: none;
  color: #353c46;
}
nav {
  width: 100%;
  display: block;
  padding-left: 1em;
  padding-right: 1em;
}
li {
  list-style-type: none;
  background-color: white;
  text-align: center;
  margin-bottom: 15px;
}
nav ul {
  padding-left: 0;
  text-align: center;
}
p {
  text-align: center;
  font-size: 1em;
}

img {
    width: 100%;
    text-align: center;
}
h1 {
  text-align: center;
  font-size: 1.5em;
  text-transform: uppercase;
}
h2 {
  text-align: center;
  color: #3d4957;
}
.main-header {
  display: block;
  margin: auto;
  padding-top: 1em;
  padding-bottom: 1em;
  width: 90%;
}
.name {
  font-size: 1.7em;
  font-weight: 600;
  background-color: inherit;
  text-align: center;
}
.introduction {
  text-align: center;
}
.profile-image {
  text-align: center;
}
.centralsection {
  background-color: white;
  padding-right: 1em;
  padding-left: 1em;
  padding-top: 0.5em;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.main-footer {
  padding-left: 1em;
  padding-right: 1em;
}
.bottomcom {
  text-align: center;
  margin-bottom: 2em;
}
.info li {
  text-align: center;
  background-color: inherit;
}
.info {
  padding-left: 0;
  border-bottom: solid #3d4957;
  border-width: thin;
}
.bottomnav ul {
  padding-left: 0;
  text-align: center;
}
.btmbtn {
  position: absolute;
  left: -1000px;
}
.name2 {
  float: left;
  font-size: 1.5em;
  background-color: inherit;
}
.backtop {
  float:right;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
/* Media Queries --------------------*/
@media (min-width: 1024px) {

nav {
  float: right;
  width: 100%;
  padding: 1.5em;
}
li {
  float: right;
  margin-right: 1em;
}
h1 {
  padding-bottom: 1em;
}
.name {
  float: left;
  font-size: 2em;
  display: inline;
  text-align: center;
  font-weight: 600;
  }
.main-header {
  width: auto;
  clear: both;
  }
.profile-image {
  max-width: 35%;
  margin-right: 4em;
  }
.introduction {
  font-size: 1.5em;
  max-width: 45%;
  margin-left: 4em;
  }
.centralsection {
  padding-top: 2em;
  padding-bottom: 2em;
}
.marketingpage {
  max-width: 33.333%;
  padding-right: 0.7em;
  padding-left: 0.7em;
}
.travelapp {
  max-width: 33.333%;
  padding-right: 0.7em;
  padding-left: 0.7em;
}
.photogallery {
  max-width: 33.333%;
  padding-right: 0.7em;
  padding-left: 0.7em;
  }
.searchpage {
  max-width: 33.333%;
  padding-right: 0.7em;
  padding-left: 0.7em;
}
.mapoffavoritespots{
  max-width: 33.333%;
  padding-right: 0.7em;
  padding-left: 0.7em;
}
.calculator {
  max-width: 33.333%;
  padding-right: 0.7em;
  padding-left: 0.7em;
}
.main-footer {
  width:80%;
  max-width: 1150px;
  }
}
@media (min-width: 768px) {

.group {
  width: 100%;
}
.nav {
  width: 100%;
  display: block;
  padding-top: 0.7em;
  }
li{
  background-color:inherit;
  display: inline-block;
  margin-left: 15px;
  }
h1 {
  text-align: center;
  }
  p {
    padding-left: 2.2em;
    padding-right: 2.2em;
  }
.name {
  font-size: 2em;
  display: grid;
  text-align: center;
  font-weight: 600;
  }
.name2 {
  float: left;
  }
.main-header {
  width: 90%;
  clear: both;
  }
.profile-image {
  float: right;
  width: 49%;
  padding: 0.2em;
  border: solid #3d4957;
  border-width: thin;
  }
.introduction {
  float:left;
  width: 49%;
  text-align: left;
  margin-top: 0;
  padding: 0;
  }
.centralsection {
  text-align: center;
  margin-left: 1em;
  margin-right: 1em;
  }
.marketingpage,
.travelapp,
.photogallery {
  float: left;
  width: 49%;
  }
.searchpage,
.mapoffavoritespots,
.calculator {
  float: right;
  width: 49%;
}
.main-footer {
  width:90%;
  margin: 0 auto;
  }
.info {
  text-align: left;
  display: grid;
  border-bottom: solid #3d4957;
  border-width: thin;
  }
.bottomcom {
  text-align: center;
  margin-bottom: 2em;
  padding-left: 2em;
  padding-right: 2em;
  }
.btmbtn {
  float: right;
  position: static;
  left: +1000px;
}
.bottomnav a {
  float: right;
}
.bottomnav {
  padding-bottom: 3em;
}
.backtop {
  text-align: inherit;
  position: absolute;
  left: -1000px;
}
}
