* {
  box-sizing: border-box;
}
/* Base Styles -------------------- */
body {
  padding: 0;
  margin:0;
  font-family: 'Poppins', sans-serif;
  color: #353c46;
  background: #e5e7e9;
}
a {
  text-decoration: none;
  color: #353c46;
}
nav {
  width: 90%;
  display: block;
  padding-left: 0;
  padding-right: 0;
}
li {
  list-style-type: none;
  background-color: white;
  text-align: center;
  margin-bottom: 15px;
}

p {
  text-align: center;
font-size: 1em;
}

img {
    width: 100%;
    text-align: center;
}
h1 {
  text-align: center;
}
h2 {
 text-align: center;
}
.main-header {
  display: block;
  margin: auto;
  padding-top: 1em;
  padding-bottom: 1em;
  width: 90%;
}
.name {
font-size: 1.5em;
background-color: inherit;
text-align: center;
}
.introduction {
  text-align: center;
}
.profile-image {
  text-align: center;
}
.centralsection {
  background-color: white;
  padding-right: 1em;
  padding-left: 1em;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.main-footer {
  padding-left: 1em;
  padding-right: 1em;
}
.bottomcom {
  text-align: center;
}
.contact li {
text-align: center;
background-color: inherit;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
/* Media Queries --------------------*/
@media (min-width: 1024px) {

  .group {
    width:80%;
    max-width: 1150px;
  }
  .main-header {
  width:80%;
  max-width: 1150px;
  }
  .centralsection {
  width: 80%;
  max-width: 1150px;
  }
  .main-footer {
  width:80%;
  max-width: 1150px;
  }
}
@media (min-width: 768px) {

  .group {
  width:90%;
  margin: 0 auto;

  }
  .main-header {
  width: 90%;
  clear: both;
  }
  .centralsection {
  width: 90%;
  }
  .marketingpage,
  .searchpage,
  .travelapp,
  .mapoffavoritespots,
  .photogallery,
  .calculator {
    width: 90%;
    margin: 0 auto;
    clear:both;
  }
  img {
    width:90%,
  }
  h1 {
    text-align: center;
  }
  .main-footer {
  width:90%;
  margin: 0 auto;

  }

  .introduction {
    font-size: 1em;
    float: none;
    width: 50%;
  }
  .profile-image,
  .introduction {
    text-align: center;
    clear:both;
    width:100%;
  }
}
