* {
  box-sizing: border-box;
}
/* Base Styles -------------------- */
body {
  margin: 2rem;
  padding: 0;
  font-family: 'Courier', sans-serif;
  color: #353c46;
  background:#f4efeb;
}
a {
  text-decoration: none;
  color: #353c46;
}

main.nav {
  width: 100%;
  min-height: 30px;
  padding: 20px;
  position: fixed;
  text-align: center;
}
.nav {
  font-size: 1rem;
  display: flex;
  justify-content: space-around;
  font-weight: 700;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}

.nav .name {
  font-size: 1.8rem;
    display: block;
    margin-right: auto;
    color: black;
}
.nav li {
  padding: 10px 20px 20px 20px;
}
.nav a {
  transition: all .5s;
}
.nav a:hover {
  color: pink
}

.main-header {

  margin: 30px 50px 30px 50px;
}
.main-header .profile-image {
  margin: 30px 50px 30px 50px;
  width: 400px;
  height: 280px;
  border: 3px solid black;
}
.introduction {
margin: 30px 50px 30px 50px;
padding-top: none;
font-size: 1.5rem;
}
.tag1{
padding-bottom: 1.5rem;
}
.centralsection {
margin-top: 400px;
padding-top: 50px;
background-color: white;
text-align: center;
}

h1 {
font-size: 1.8rem;
text-align: center;
}


img {
  display:block;
  margin:0 auto;
  width: 400px;
  height: 250px;
  border: 3px solid black;
  transition: all .5s;
}

p {
  display:block;
  margin:0 auto;
  width: 400px;
  height: 125px;
}

.marketingpage {
  width: 33.3%;
  padding-left: 50px;
  padding-right: 50px;
  margin: auto;
  max-width: 960px;
}
.searchpage {
  width: 33.3%;
  padding-left: 50px;
  padding-right: 50px;
  margin: auto;
  max-width: 960px;
}
.travelapp {
  width: 33.3%;
  padding-left: 50px;
  padding-right: 50px;
  margin: auto;
  max-width: 960px;
}
.mapoffavoritespots {
  width: 33.3%;
  padding-left: 50px;
  padding-right: 50px;
  margin: auto;
  max-width: 960px;
}
.photogallery {
  width: 33.3%;
  padding-left: 50px;
  padding-right: 50px;
  margin: auto;
  max-width: 960px;
}
.calculator {
  width: 33.3%;
  padding-left: 50px;
  padding-right: 50px;
  margin: auto;
  max-width: 960px;
}
.bottomcom {
  display:block;
  text-align:center;
  margin:0 auto;
  width: 400px;
  height: 100px;

}
.Contact {
  padding-bottom: 3rem;
text-align:center;
border-bottom: 2px solid;
}
/* Floated Columns ------------------ */
.profile-image,
.introduction {
width: 46.5%;
}
.profile-image {
float: right;
}
.introduction {
 float: left;
}
.marketingpage {
float: right;
}
.searchpage {
float: left;
}
.travelapp {
float: right;
}
.mapoffavoritespots {
float: left;
}
.photogallery {
float: right;
}
.calculator {
float: left;
}

/* Float Clearfix ------------------ */
.group:after {
  content: "";
  display: table;
  clear: both;
}


/* Media Queries --------------------*/
