* {
  box-sizing: border-box;
}
/* Base Styles -------------------- */
body {
  text-align: center;
  padding: 0;
  font-family: 'Courier', sans-serif;
  color: #353c46;
  background:#f4efeb;
}
a {
  text-decoration: none;
  color: #353c46;
}

main.nav {
  width: 100%;
  height: 1.8rem;
  padding: 0;
  position: fixed;
  text-align: center;
}
.nav {
  text-align: center;
  font-size: 1rem;
  display: flex;
  justify-content: space-around;
  font-weight: bold;
  list-style-type: none;
  margin-top: 1rem;
  padding: 0;

}

.name {
  font-size: 2rem;
    display: block;
    margin-right: auto;
    color: black;
}
.nav li {
  padding: 10px 10px 10px 10px;
}
.nav a {
  transition: all .5s;
}
.nav a:hover {
  color: lightgrey;
}

}
.profile-image {
  width: 33.3%;
  max-width: 100%;
  border: 3px solid black;
}
.introduction {
font-size: 1.5rem;
margin: 0 auto;
padding-top: 6rem;
}
.tag1{
padding-bottom: 1.5rem;
}
.centralsection {
background-color: white;
text-align: center;
margin: 1rem;
}

h1 {
font-size: 1.8rem;
text-align: center;
}


img {
  display:block;
  margin:0 auto;
  max-width: 100%;
  border: 3px solid black;
  transition: all .5s;
}

p {
  display:block;
  margin:0 auto;
  width: 400px;
  height: 125px;
}

.marketingpage {
  width: 33.3%;
  padding-left: 50px;
  padding-right: 50px;
  margin: auto;
  max-width: 960px;
}
.searchpage {
  width: 33.3%;
  padding-left: 50px;
  padding-right: 50px;
  margin: auto;
  max-width: 960px;
}
.travelapp {
  width: 33.3%;
  padding-left: 50px;
  padding-right: 50px;
  margin: auto;
  max-width: 960px;
}
.mapoffavoritespots {
  width: 33.3%;
  padding-left: 50px;
  padding-right: 50px;
  margin: auto;
  max-width: 960px;
}
.photogallery {
  width: 33.3%;
  padding-left: 50px;
  padding-right: 50px;
  margin: auto;
  max-width: 960px;
}
.calculator {
  width: 33.3%;
  padding-left: 50px;
  padding-right: 50px;
  margin: auto;
  max-width: 960px;
}
.bottomcom {
  display:block;
  text-align:center;
  margin:0 auto;
  width: 400px;
  height: 100px;

}
.Contact {
padding-bottom: 3rem;
text-align:center;
border-bottom: 2px solid;
}

/* Layout Styles ------------------ */


/* Floated Columns ------------------ */
.introduction {
width: 46.5%;
}
.profile-image {
   float: right;
}
.introduction {
 float: left;
}
.marketingpage {
float: right;
}
.searchpage {
float: left;
}
.travelapp {
float: right;
}
.mapoffavoritespots {
float: left;
}
.photogallery {
float: right;
}
.calculator {
float: left;
}

/* Float Clearfix ------------------ */
.group:after {
  content: "";
  display: table;
  clear: both;
}


/* Media Queries --------------------*/
@media (max-width: 1024px) {
 nav {
   width: 100%;
 }
.name {
 width: 100%;
   }

 p {
  width:100%;
  color: black;
 }
 img {
width: 90%;
}

.header {
max-height: 380px;
}

.profile-image {
max-width: 80%;
}

.centralsection {
  width: 100%;
 }

.article {
width:100%;

}
 .introduction {
  width:100%;
  padding-top: 2rem;

   }
}
@media (max-width: 768px) {

[class*="col-"] {
width: 100%;
}

nav {
  width: 100%;

}
.name {
  width: 100%;
  line-height: 1.1;
}

p {
   width:100%;
   float: none;
 }

img {
  width: 80%;
  }
  .header {
  width: 100%;
  }

.profile-image {
float:none;
width: 80%;
  }
.header {
max-width:100%;
float:none,

}
.centralsection {
  width: 100%;
  padding: 1.1rem;
  margin: 0;
}

.introduction {
 width:100%;
 font-size: 1rem;
 margin: 0 auto;
  }

.marketingpage {
width: 100%;
float: none;
}

.searchpage {
  width: 100%;
  float: none;
}
.travelapp {
width: 100%;
float: none;
}
.mapoffavoritespots {
  width: 100%;
  float: none;
}
.photogallery {
  width: 100%;
  float: none;
}
.calculator {
  width: 100%;
  float: none;
}

.main-footer {
  width: 100%;
}
}
